<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yyd.myoa.dao.MessageToUserMapper" >
  <resultMap id="BaseResultMap" type="com.yyd.myoa.model.MessageToUser" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="message_id" property="messageId" jdbcType="INTEGER" />
    <result column="to_user_id" property="toUserId" jdbcType="VARCHAR" />
    <result column="if_read" property="ifRead" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, message_id, to_user_id, if_read
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from message_to_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from message_to_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yyd.myoa.model.MessageToUser" >
    insert into message_to_user (id, message_id, to_user_id, 
      if_read)
    values (#{id,jdbcType=INTEGER}, #{messageId,jdbcType=INTEGER}, #{toUserId,jdbcType=VARCHAR}, 
      #{ifRead,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.yyd.myoa.model.MessageToUser" >
    insert into message_to_user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="messageId != null" >
        message_id,
      </if>
      <if test="toUserId != null" >
        to_user_id,
      </if>
      <if test="ifRead != null" >
        if_read,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="messageId != null" >
        #{messageId,jdbcType=INTEGER},
      </if>
      <if test="toUserId != null" >
        #{toUserId,jdbcType=VARCHAR},
      </if>
      <if test="ifRead != null" >
        #{ifRead,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yyd.myoa.model.MessageToUser" >
    update message_to_user
    <set >
      <if test="messageId != null" >
        message_id = #{messageId,jdbcType=INTEGER},
      </if>
      <if test="toUserId != null" >
        to_user_id = #{toUserId,jdbcType=VARCHAR},
      </if>
      <if test="ifRead != null" >
        if_read = #{ifRead,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yyd.myoa.model.MessageToUser" >
    update message_to_user
    set message_id = #{messageId,jdbcType=INTEGER},
      to_user_id = #{toUserId,jdbcType=VARCHAR},
      if_read = #{ifRead,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>