<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yyd.myoa.dao.RoleRightMapper" >
  <resultMap id="BaseResultMap" type="com.yyd.myoa.model.RoleRight" >
    <id column="role_right_id" property="roleRightId" jdbcType="INTEGER" />
    <result column="role_id" property="roleId" jdbcType="INTEGER" />
    <result column="node_id" property="nodeId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    role_right_id, role_id, node_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from role_right
    where role_right_id = #{roleRightId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from role_right
    where role_right_id = #{roleRightId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yyd.myoa.model.RoleRight" >
    insert into role_right (role_right_id, role_id, node_id
      )
    values (#{roleRightId,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER}, #{nodeId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yyd.myoa.model.RoleRight" >
    insert into role_right
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="roleRightId != null" >
        role_right_id,
      </if>
      <if test="roleId != null" >
        role_id,
      </if>
      <if test="nodeId != null" >
        node_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="roleRightId != null" >
        #{roleRightId,jdbcType=INTEGER},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="nodeId != null" >
        #{nodeId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yyd.myoa.model.RoleRight" >
    update role_right
    <set >
      <if test="roleId != null" >
        role_id = #{roleId,jdbcType=INTEGER},
      </if>
      <if test="nodeId != null" >
        node_id = #{nodeId,jdbcType=INTEGER},
      </if>
    </set>
    where role_right_id = #{roleRightId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yyd.myoa.model.RoleRight" >
    update role_right
    set role_id = #{roleId,jdbcType=INTEGER},
      node_id = #{nodeId,jdbcType=INTEGER}
    where role_right_id = #{roleRightId,jdbcType=INTEGER}
  </update>
</mapper>