<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yyd.myoa.dao.UserInfoMapper" >
  <resultMap id="BaseResultMap" type="com.yyd.myoa.model.UserInfo" >
    <id column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="depart_id" property="departId" jdbcType="INTEGER" />
    <result column="gender" property="gender" jdbcType="INTEGER" />
    <result column="role_id" property="roleId" jdbcType="INTEGER" />
    <result column="user_state" property="userState" jdbcType="INTEGER" />
    <result column="if_delete_user" property="ifDeleteUser" jdbcType="INTEGER" />
    <result column="user_pricter" property="userPricter" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    user_id, user_name, password, depart_id, gender, role_id, user_state, if_delete_user, 
    user_pricter
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from user_info
    where user_id = #{userId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from user_info
    where user_id = #{userId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.yyd.myoa.model.UserInfo" >
    insert into user_info (user_id, user_name, password, 
      depart_id, gender, role_id, 
      user_state, if_delete_user, user_pricter
      )
    values (#{userId,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{departId,jdbcType=INTEGER}, #{gender,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER}, 
      #{userState,jdbcType=INTEGER}, #{ifDeleteUser,jdbcType=INTEGER}, #{userPricter,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yyd.myoa.model.UserInfo" >
    insert into user_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="departId != null" >
        depart_id,
      </if>
      <if test="gender != null" >
        gender,
      </if>
      <if test="roleId != null" >
        role_id,
      </if>
      <if test="userState != null" >
        user_state,
      </if>
      <if test="ifDeleteUser != null" >
        if_delete_user,
      </if>
      <if test="userPricter != null" >
        user_pricter,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="departId != null" >
        #{departId,jdbcType=INTEGER},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=INTEGER},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="userState != null" >
        #{userState,jdbcType=INTEGER},
      </if>
      <if test="ifDeleteUser != null" >
        #{ifDeleteUser,jdbcType=INTEGER},
      </if>
      <if test="userPricter != null" >
        #{userPricter,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yyd.myoa.model.UserInfo" >
    update user_info
    <set >
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="departId != null" >
        depart_id = #{departId,jdbcType=INTEGER},
      </if>
      <if test="gender != null" >
        gender = #{gender,jdbcType=INTEGER},
      </if>
      <if test="roleId != null" >
        role_id = #{roleId,jdbcType=INTEGER},
      </if>
      <if test="userState != null" >
        user_state = #{userState,jdbcType=INTEGER},
      </if>
      <if test="ifDeleteUser != null" >
        if_delete_user = #{ifDeleteUser,jdbcType=INTEGER},
      </if>
      <if test="userPricter != null" >
        user_pricter = #{userPricter,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yyd.myoa.model.UserInfo" >
    update user_info
    set user_name = #{userName,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      depart_id = #{departId,jdbcType=INTEGER},
      gender = #{gender,jdbcType=INTEGER},
      role_id = #{roleId,jdbcType=INTEGER},
      user_state = #{userState,jdbcType=INTEGER},
      if_delete_user = #{ifDeleteUser,jdbcType=INTEGER},
      user_pricter = #{userPricter,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>
  <select id="select" resultMap="BaseResultMap">
  	select <include refid="Base_Column_List"/> from user_info
  </select>
</mapper>