<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yyd.myoa.dao.UserStateMapper" >
  <resultMap id="BaseResultMap" type="com.yyd.myoa.model.UserState" >
    <id column="user_state_id" property="userStateId" jdbcType="INTEGER" />
    <result column="user_state_name" property="userStateName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    user_state_id, user_state_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user_state
    where user_state_id = #{userStateId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_state
    where user_state_id = #{userStateId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yyd.myoa.model.UserState" >
    insert into user_state (user_state_id, user_state_name)
    values (#{userStateId,jdbcType=INTEGER}, #{userStateName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yyd.myoa.model.UserState" >
    insert into user_state
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userStateId != null" >
        user_state_id,
      </if>
      <if test="userStateName != null" >
        user_state_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userStateId != null" >
        #{userStateId,jdbcType=INTEGER},
      </if>
      <if test="userStateName != null" >
        #{userStateName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yyd.myoa.model.UserState" >
    update user_state
    <set >
      <if test="userStateName != null" >
        user_state_name = #{userStateName,jdbcType=VARCHAR},
      </if>
    </set>
    where user_state_id = #{userStateId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yyd.myoa.model.UserState" >
    update user_state
    set user_state_name = #{userStateName,jdbcType=VARCHAR}
    where user_state_id = #{userStateId,jdbcType=INTEGER}
  </update>
</mapper>